/*  */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0 0 2rem 0;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.align-self-center {
  align-self: center;
}
